/* General body and html styles to ensure full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
  /* overflow: hidden; */
}

/* Container for the entire app */
.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header"
    "today forecast"
    "hottest hottest";
  height: 100vh;
  width: 100vw;
  overflow: scroll;

}

/* Common flex styles for centering content */
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/* Header container styles */
.header-container {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 60%;
}

#inputLocationBox {
  width: 50%;
  padding: 10px;
  border: 2px solid black;
  margin-top: 10px;
}

#searchButton {
  width: 100px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  opacity: 0.8;
}

.todays-weather-container {
  grid-area: today;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* background: rgba(255, 255, 255, 0.8);
  opacity: 30%; */
}

.forecast-header-container {
  grid-area: forecast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* background: rgba(255, 255, 255, 0.8);
  opacity: 30%; */
}

.todays-weather {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}

.location-wrapper {
  display: flex;
  justify-content: center;
}

.location-wrapper p {
  margin: 2px;
}

.current-temp {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.temp-type-container {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.three-day-weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 340px;

}

.forecast-box {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 5px;
  background: rgba(255, 255, 255, 0.8);
}

.hottest-day-container {
  grid-area: hottest;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#hottest-day-info {
  border: 2px solid black;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  opacity: 45%;
}

img {
  opacity: 0.6;
}

@media (min-width: 1500px) {
  .App {
    grid-template-columns: 1fr 750px 750px 1fr;
    grid-template-areas:
      "header header header header"
      ". today forecast ."
      "hottest hottest hottest hottest";
  }
}